<%- include("../partials/header"); %>
<h1 class="center margin-top"><i class="fas fa-edit"></i>Edit Item</h1>
<div style="width: 70%; margin: 40px auto;">
    <form action="/item/<%= item._id %>?_method=PUT" method='POST' enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                <input id="title" name='item[title]' type='text' class="form-control" value="<%= item.title %>"/>
                </div>
                <div class="form-group">
                    <label for="price" class="control-label">Price</label>
                    <input id="price" name='item[price]' type='number' class="form-control" value="<%= item.price %>"/>
                </div> 
                <div class="form-group">
                    <select name='item[category]' class="custom-select" required>
                        <option value="">Choose item category</option>
                        <option value="Sale" <%= (item.category === "Sale" ? "selected" : "") %>>Sell</option>
                        <option value="Rent" <%= (item.category === "Rent" ? "selected" : "") %>>Rent</option>
                        <option value="Share" <%= (item.category === "Share" ? "selected" : "") %>>Share</option>
                    </select>
                </div>   
                <div class="form-group">
                    <label for="image" class="control-label">Upload Images</label> 
                    <input type="file" name="images" multiple>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description" class="control-label">Description</label> 
                    <textarea style="resize: none;" rows="5" name="item[description]" class="form-control"><%= item.description %></textarea>
                </div>
            </div>
        </div>
        <div class="form-group center"> 
            <button class="btn btn-dark btn-padding">Submit</button>
        </div>
    </form>
</div>
<%- include("../partials/footer"); %>
