<%- include("../partials/header"); %>
<!-- $("h1").css("color", "yellow"); -->
<h1> Item </h1>
<hr />
<dl class="row">
    <dt class = "col-sm-2">Title</dt>
    <dd class = "col-sm-10">
        <%= item.title %>
    </dd>
    <dt class = "col-sm-2">Price</dt>
    <dd class = "col-sm-10">
        <%= item.price %>
    </dd>
</dl>
<div>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/item/<%= item._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Add a comment">
                    <button class="btn btn-lg btn-primary btn-block">Comment</button>
                </div>
            </form>
        </div>
    </div>
    <% item.comments.forEach(function(comment){ %>
        <p><strong><%= comment.author %></strong></p>   
        <form action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <input type="text" id="submit" name="comment[text]" value="<%= comment.text %>" disabled>
        </form>
        <button class="btn btn-xs btn-warning" onclick="fun()">Edit</button>
        <form action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger">Delete</button>
        </form>
    <% }); %>
</div>


<%- include("../partials/footer"); %>
