<%- include("../partials/header"); %>
<h1> Item </h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">Title</dt>
        <dd class = "col-sm-10">
            <%= item.title %>
        </dd>
        <dt class = "col-sm-2">Price</dt>
        <dd class = "col-sm-10">
            <%= item.price %>
        </dd>
        <dt class = "col-sm-2">Created By: </dt>
        <dd class = "col-sm-10">
            <%= item.author.name %>
        </dd>
        <dt class = "col-sm-2">Image</dt>
        <dd class = "col-sm-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="relative">
                    <ol class="carousel-indicators">
                        <% var i=0; %>
                        <% item.images.forEach(function(image){ %>
                            <% if(i==0){ %>
                                <li data-target="#carouselExampleIndicators" data-slide-to= <%= i.toString() %> class="active"></li>
                            <% } else{ %>
                                <li data-target="#carouselExampleIndicators" data-slide-to= <%= i.toString() %>></li>
                            <% } %>
                            <% i+=1; %>
                        <% }); %>
                    </ol>
                    <div class="carousel-inner">
                        <% var i=0; %>
                        <% item.images.forEach(function(image){ %>
                            <% if(i==0){ %>
                                <div class="carousel-item active">
                                    <img src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" class="d-block image">
                                </div>
                            <% } else{ %>
                                <div class="carousel-item">
                                    <img src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" class="d-block image">
                                </div>
                            <% } %>
                            <% i+=1; %>
                        <% }); %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a id ="pos" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </dd>
    </dl>
    <% if(currentUser && item.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-warning" href="/item/<%= item._id %>/edit">EDIT</a>
        <form action="/item/<%= item._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
        </form>
    <% } %>
</div>
<div>
    <button class="btn btn-xs btn-primary disp-inline hover" onclick="openNewForm()">Add a comment</button>
    <div id="commentForm">
        <form action="/item/<%= item._id %>/comment" method="POST">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" class="hover" onclick="closeNewForm()">&times;</span>
            </button>
            <div class="form-group mx-sm-1 center">
                <textarea type="text" name="comment[text]" class="margin-top" id="inputboxNew" placeholder="Add a comment..."></textarea>
            </div>
            <div class="center">
                <button class="btn btn-xs btn-primary disp-inline">Comment</button>
            </div>
        </form>
    </div>

    <% item.comments.forEach(function(comment){ %>
        <div>
            <p><strong><%= comment.author.name %></strong></p>
            <p><%= comment.text %></p>

            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <button class="btn btn-xs btn-warning disp-inline hover" onclick="openEditForm()">Edit</button>
                <form class ="disp-inline" action="/item/<%= item._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            <% } %>

            <div id="editForm">
                <form class="disp-inline" action="/item/<%= item._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" class="hover" onclick="closeEditForm()">&times;</span>
                    </button>
                    <div class="form-group mx-sm-1 center">
                        <textarea type="text" name="comment[text]" class="margin-top" id="inputboxEdit"><%= comment.text %></textarea>
                    </div>
                    <div class="center">
                        <button class="btn btn-xs btn-primary disp-inline">Update</button>
                    </div>
                </form>
            </div>
        </div>   
    <% }); %>
</div>

<%- include("../partials/footer"); %>