<%- include("../partials/header"); %>
<h1> Item </h1>
<hr />
<dl class="row">
    <dt class = "col-sm-2">Title</dt>
    <dd class = "col-sm-10">
        <%= item.title %>
    </dd>
    <dt class = "col-sm-2">Price</dt>
    <dd class = "col-sm-10">
        <%= item.price %>
    </dd>
    <dt class = "col-sm-2">Created By: </dt>
    <dd class = "col-sm-10">
        <%= item.author.name %>
    </dd>
</dl>
<div>
    <button class="btn btn-xs btn-primary disp-inline hover" onclick="openNewForm()">Add a comment</button>
    <div id="commentForm">
        <form action="/item/<%= item._id %>/comment" method="POST">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" class="hover" onclick="closeNewForm()">&times;</span>
            </button>
            <div class="form-group mx-sm-1 center">
                <textarea type="text" name="comment[text]" class="margin-top" id="inputboxNew" placeholder="Add a comment..."></textarea>
            </div>
            <div class="center">
                <button class="btn btn-xs btn-primary disp-inline">Comment</button>
            </div>
        </form>
    </div>

    <% item.comments.forEach(function(comment){ %>
        <div>
            <p><strong><%= comment.author.name %></strong></p>
            <p><%= comment.text %></p>

            <button class="btn btn-xs btn-warning disp-inline hover" onclick="openEditForm()">Edit</button>
            <form class ="disp-inline" action="/item/<%= item._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete</button>
            </form>

            <div id="editForm">
                <form class="disp-inline" action="/item/<%= item._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" class="hover" onclick="closeEditForm()">&times;</span>
                    </button>
                    <div class="form-group mx-sm-1 center">
                        <textarea type="text" name="comment[text]" class="margin-top" id="inputboxEdit"><%= comment.text %></textarea>
                    </div>
                    <div class="center">
                        <button class="btn btn-xs btn-primary disp-inline">Update</button>
                    </div>
                </form>
            </div>
        </div>   
    <% }); %>
</div>

<%- include("../partials/footer"); %>