<%- include("../partials/header"); %>
<!-- $("h1").css("color", "yellow"); -->
<h1> Item </h1>
<hr />
<dl class="row">
    <dt class = "col-sm-2">Title</dt>
    <dd class = "col-sm-10">
        <%= item.title %>
    </dd>
    <dt class = "col-sm-2">Price</dt>
    <dd class = "col-sm-10">
        <%= item.price %>
    </dd>
</dl>
<div>
    <div>
        <form class ="form-inline" action="/item/<%= item._id %>/comments" method="POST">
            <div class="form-group mx-sm-1">
                <input type="text" name="comment[text]" placeholder="Add a comment">
            </div>
            <button class="btn btn-xs btn-primary disp-inline">Comment</button>
            
        </form>
    </div>

    <% item.comments.forEach(function(comment){ %>
        <p><strong><%= comment.author %></strong></p>
        <div>
            <form class="disp-inline" action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input type="text" name="comment[text]" value="<%= comment.text %>" disabled>
            </form>
            <button class="btn btn-xs btn-warning disp-inline submit"> Edit</button>
            <form class ="disp-inline" action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete</button>
            </form>
            <p class="note hidden toggle">Press Enter to update, else click <a class= "cancel" href="/item/<%= item._id %>">cancel</a></p>
        </div>   
    <% }); %>
</div>


<%- include("../partials/footer"); %>
