<%- include("../partials/header"); %>
<div class="row margin-top">
    <div class="col-md-3 grey-bkg">
        <h1 class="margin-top" style="margin-bottom: 1.5rem;"><%= user.name %></h1>
        <h6 class="font-grey"><%= user.username %></h6>
        <!-- <h6 class="font-grey"><%= user.phone %></h6> -->
        <p style="margin-top: 3rem; margin-bottom: 1.5rem;">
            <a href="/user/:id/edit" class="btn btn-dark">Edit Profile</a>
        </p>
    </div>
    <div class="col-md-9">
        <p>hgfhg</p>
<%- include("../partials/footer"); %>