<%- include("../partials/header"); %>
<h1> User </h1>
<hr />
<dl class="row">
    <dt class = "col-sm-2">Name</dt>
    <dd class = "col-sm-10">
        <%= user.name %>
    </dd>
    <dt class = "col-sm-2">Username</dt>
    <dd class = "col-sm-10">
        <%= user.username %>
    </dd>
    <dt class = "col-sm-2">Phone</dt>
    <dd class = "col-sm-10">
        <%= user.phone %>
    </dd>
    <dt class = "col-sm-2">Email</dt>
    <dd class = "col-sm-10">
        <%= user.email %>
    </dd>
    <a href="/user/<%= user._id%>/edit"><button class="btn btn-dark btn-padding">Edit</button></a>
    <form action="/user/<%= user._id%>?_method=DELETE" method="POST"><button class="btn btn-dark btn-padding">Delete</button></form>
</dl>
<a href="/item/new"><button class="btn btn-dark btn-padding">Add new item</button></a>
<%- include("../partials/footer"); %>